@model ProjectScreen.Models.Project

@{
    ViewBag.Title = "Create";
}

<h2>New Entry Details</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Project</legend>
        <table>
        
            <tr>
                <td>
                    <div class="editor-label">
                       @Html.LabelFor(model => model.Date)
                    </div>
                </td>
                <td>
                        @Html.TextBox("Date", DateTime.Now.ToShortDateString(), new { @class = "datefield" })
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                      @Html.LabelFor(model => model.Name)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </td>
            </tr>
             <tr>
                   <td>
                       <div class="editor-label">
                          @Html.Label("PM/AM")
                     </div>
                  </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Pmam)
                        @Html.ValidationMessageFor(model => model.Pmam)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    
                    @Html.LabelFor(model => model.Description)
                   
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </td>
            </tr>

        </table>
        <p>
            <input type="submit" value="Create" id="New" />| @Html.ActionLink("Back to List", "Index", "Home")
        </p>
    </fieldset>
}





@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")*@

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
        });
    </script>
}
